.footer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding: 20px;
    color: #ccc;
    background-color: #000;
    border-top: 1px solid #ccc;
    display: flex;
    align-items: center;
    flex-direction: column;

    .copyRight {
        padding: 10px;
    }

    .footerLogo {
        height: 30px;
    }
}
