@import "./customOverwites";
@import "/node_modules/bootstrap/dist/css/bootstrap.css";
@import "./header";
@import "./footer";
@import "./home";
@import "./search";
@import "./artistDetail";

a {
    cursor: pointer;
    text-decoration: none !important;
    color: #666 !important;
}
